/* Write your CSS code here */
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.products-page-container {
  display: flex;
  flex-direction: column;
}

.products-container {
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.item-img {
  width: 150px;
}
